.dir-path {
    padding-left: 3px;
    padding-bottom: 3px;
}

    .dir-path span {
        border: 1px solid #FFF;
        font-size: 15px;
        font-weight: normal;
        color: #5C7A29;
        cursor: pointer;
        margin: 3px;
    }

        .dir-path span::after {
            content: '/';
            margin-left: 3px;
        }

        .dir-path span:last-child::after {
            content: '';
        }

        .dir-path span:hover {
            background-color: #E5F3FB;
            border-color: #70C0E7;
        }

        .dir-path span a {
        }

.container-box {
}

    .container-box > div {
        text-align: center;
    }

    .container-box .container-icon {
        font-size: 20px;
        color: #FA8C35;
        margin-top: 20px;
    }

    .container-box .container-name {
        font-size: 23px;
        text-overflow: ellipsis;
    }

.blobrow .blobtoolbar {
    visibility: hidden;
}


    .blobrow .blobtoolbar > span {
        color: #333;
        margin-left: 5px;
        opacity: 0.8;
        cursor: pointer;
        filter: alpha(opacity=0.8);
    }

        .blobrow .blobtoolbar > span:hover {
            opacity: 1;
            filter: alpha(opacity=1);
        }

.blobrow:hover .blobtoolbar {
    visibility: visible;
}
